
@{
    ViewBag.Title = "addMovie";
}

<style>
    #sort {
        margin: 0 auto;
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
    }
</style>

<div class="" id="sort">
    <div class="left">
        <div class="content">
            <div class="header">
                <div class="logo text-center"><img src="~/assets/img/logo-dark.png" alt="Klorofil Logo"></div>
                <p class="lead">添加电影</p>
            </div>
            <form class="form-auth-small" action="~/Home/AddMovie" >
                <div class="form-group">
                    <label for="signin-email" class="control-label sr-only">电影类型</label>

                    <select class="form-control" name="type">
                        <option value="科幻">科幻</option>
                        <option value="动作">动作</option>
                        <option value="喜剧">喜剧</option>
                        <option value="爱情">爱情</option>
                        <option value="战争">战争</option>
                        <option value="恐怖">恐怖</option>
                    </select>


                    @*<input type="text" class="form-control" id="signin-email" value="samuel.gold@domain.com" placeholder="Email">*@
                </div>
                <div class="form-group">
                    <label for="signin-password" class="control-label sr-only">电影名称</label>
                    <input type="text" name="name" class="form-control" id="signin-password"  placeholder="输入电影名称">
                </div>
                
                <button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>
             
            </form>
        </div>
    </div>
    @*<div class="right">
        <div class="overlay"></div>
        <div class="content text">
            <h1 class="heading">Free Bootstrap dashboard template</h1>
            <p>by The Develovers</p>
        </div>
    </div>*@
    <div class="clearfix"></div>
</div>